# exclude some folders
docker/postgres-stage
docker/postgres-oracle
docker/newpg
docker/benchmark
docker/pgbackrest-old
setup/helm/pgcluster

#FerretDB
docker/ferretdb
ferretdb
launcher/ferretdb

#Exporter_v2
docker/exporter_v2
launcher/exporter_v2

# logical backup 
docker/logical_backup/
scripts/logical_backup/

# grid-files
/docker/add-grid-files/grid-files/*

# Public-betas
docker/pg-public-beta
docker/pgbackrest-public-beta